.jumbotron {
  padding-top: 5rem;
  background-color: #2a537d;
  color: white;
  padding-bottom: 2rem;
}

#projects {
  background-color: #2a537d;
  color: white;
}

.jumbotron2 {
  background-color: rgb(143, 204, 204);
  padding-bottom: 2rem;

}
section {
  padding-top: 3rem;
}

p{
  margin: 0 !important;
  padding-bottom: 8px !important;
}

ul{
  margin: 0 !important;
  padding-bottom: 8px !important;
}

li{
  margin-bottom: 1px;
}

#pencapaian{
    background-color: #2a537d;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
